/BeginUnicode/.vs
/BeginUnicode/BeginUnicode/bin
/BeginUnicode/BeginUnicode/obj
/BeginUnicode/TestUnicode/obj
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.vshost.exe.manifest
/BeginUnicode/TestUnicode/bin/Debug/BeginUnicode.pdb
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.pdb
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.exe.config
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.vshost.exe.config
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.exe
/BeginUnicode/TestUnicode/bin/Debug/TestUnicode.vshost.exe
/BeginUnicode/TestUnicode/bin/Debug/BeginUnicode.dll
/TakeEncodingFile/TakeEncodingFile/bin
/TakeEncodingFile/TakeEncodingFile/obj
